{% extends "base.html" %}
{% block title %}Finsibility{% endblock %}
{% block data_panel %}
    <div class="disclaimer_1">The content in this website is designed and intended for my personal use only. Before you making any investment decisions, you should do your own analysis.</div>
    <div class="disclaimer_1">The analysis on this site is very general in nature and is not the be-all and end-all analysis. If a company grows at a different rate, or if its cost of equity or risk free rate changes sharply, the output can look very different.</div>
    <div class="disclaimer_1">The ML models developed and its results do not constitute a recommendation to buy or sell any stock, and do not take account of your objectives, or your financial situation.</div>
{% endblock %}
